<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://api.fontshare.com/v2/css?f%5B%5D=clash-display@1&f%5B%5D=general-sans@1&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <title>kaif.</title>
</head>
<body>
<div class="photo">
    <img src="../static/imgs/paket-08.png" alt="">
</div>
<section class="page">
    <div class="content">
        <h1 class="package-title">kaif.</h1>
        <h2>What are we</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
        <button class="btn">learn more</button>
    </div>
</section>
<script src="../static/script.js"></script>
</body>
</html>